body {
  background-color: #fbcccb;
}

.contain {
  /* border: rgb(55, 46, 46) 1px solid; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 55%;
  height: 70%;
}
.left,.right{
  background-color: #fff;
  width: 45%;
  height: 100%;
}
.video {
  display: block;
  margin: 0px auto;
}
.video-teach {
  margin: 40px auto;
}